.container{
    width: 100%;    
    margin: auto; 
    padding: 0;
    .fillials-h1{
        width: 100%;
        font-size: 45px;
        height: 15vh;
        display: flex;
        align-items: center;
        margin-left: 30px;
    } 
    .fillial-part1{
        width: 70%;
        height:22vh ;
        background: #d0d0d0;
        margin-top: 20px;
        margin-left: 30px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transform: scale(1);
        cursor: pointer;
        margin-bottom: 50px;
        &:hover{
            transform: scale(1.02);
        }
        .items1{
            display: flex;
            align-items: center;
            gap: 30px;
            img{
                margin-left: 15px;
            }
            h1{
                font-size: 30px;
            }
        }
        .items2{
            display: flex;
            gap: 60px;
            margin-right: 30px;
            align-items: center;
            p{
                font-size: 20px;
                line-height: 33px;
                text-align: center;
                font-weight: 600;
            }
            #p{
                font-size: 33px;
                transform: scale(1);
                &:hover{
                    transform: scale(1.3);
                }
            }
        }
    } 
}

