* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: auto;
    padding: 0;

    .First-page {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        position: relative;
        left: 0;
        right: 0;

        .First-page-part1 {
            padding: 200px 100px;
            .First-page-part1_text {
                margin-bottom: 30px;
                h1 {
                    color: red;
                    font-size: 45px;
                    font-weight: 600;
                    line-height: 40px;
                    padding: 10px 0px;
                }
                h2 {
                    font-size: 45px;
                    font-weight: 600;
                    line-height: 40px;
                    padding: 10px 0px;
                }
                p{
                    width: 60%;
                    font-size: 19px;
                    font-weight: 500;
                    line-height: 30px;
                    padding: 20px 0px;
                }
            }
            button {
                padding: 10px 40px;
                background: #FF5B00;
                font-size: 19px;
                font-weight: 600;
                color: #fff;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                transition: 1.2s;
                &:hover {
                    color: rgb(0, 172, 211);
                    transition: 1s;
                    background: rgb(253, 15, 15);
                }
                &:active {
                    transform: translateX(4px);
                    transition: .3s;
                }
            }
        }

        .First-page-part2{
            height: 700px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url(./icons/bgimg.png);
            img{
            position: absolute;
            cursor: pointer;
            &:nth-child(1){
                top: 300px;
                right: 550px;
            }
            &:nth-child(2){
                top: 590px;
                right: 260px;
            }
            &:nth-child(3){
                top: 500px;
                right: 450px;
            }
        }
        }
    }
}


@media (max-width: 1405px) {
    .First-page{
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;
        padding-bottom: 20px;
        .First-page-part2{
            display: none;
        }
        .First-page-part1{
           background-image: url(./icons/bgimg.png);
           height: 60vh;
          .First-page-part1_text{
            p{
                width: 50% !important;
            }
          }
        }
    }
}


// @media(max-width:750px){
//     .container{
//         background-color: red;
//         max-width: 650px;
//         margin: auto;
//         padding: 0;
//         .First-page{
//             display: flex;
//             flex-direction: column-reverse;
//             justify-content: center;
//             align-items: center;
//             .First-page-part1{
//                 width: 90%;
//                 text-align: center;
//                 p{
//                     width: 40% !important;
//                     text-align: center; 
//                     margin-left: 300px;
//                 }
//             }
//         }
//         .First-page-part2{
//             width: 55% !important;
//             height: 150vh !important;
//             margin-bottom: 130px !important;
//             img{
//                 position: absolute;
//                 cursor: pointer;
//                 &:nth-child(1){
//                     top: 500px !important;
//                     left: 199px !important;
//                 }
//                 &:nth-child(2){
//                     top: 599px !important;
//                     left: 360px !important;
//                 }
//                 &:nth-child(3){
//                     top: 550px !important;
//                     left: 560px !important;
//                 }
//             }
//         }
//     }
// }
